.App {
  flex:1;
  width:100vw;
  height:100vh;
  flex-direction:row;
  display: flex;
  justify-content: space-between;
}
.leftCol {
  min-width: 200px;
  border-right-width: 2px;
  border-right-style: solid;
  height: 100vh;
  /* background-color: red; */
}
.middleCol{ 
  height: 100vh;
  flex:1;
  min-width: 100px;
}
.rightCol{
  min-width: 300px;
  border-left-width: 2px;
  border-left-style: solid;
  height: 100vh;
}



html,body{ margin:0; padding:0; height:100%; width:100%; }